<% if (d.Access.toLowerCase() === "restricted" && !d.isAuthenticated()) { %>
    <div class="result-icon ogp-right ogp-authentication-required" title="Log in to preview"></div>
<% } else if (d.DataType.toLowerCase() === "libraryrecord") { %>
    <div class="result-icon ogp-right"></div>
<% } else { %>
    <div class="result-icon ogp-right">
        <input
            type="checkbox"
            name="preview"
            title="Preview this layer on the map"
            <% if (d.previewed) print('checked="checked"') %>
        />
    </div>
<% } %>