<div class="text-result" title="<%= o.LayerDisplayName %>">
    <%  if (o.Access == 'Restricted' && !(user && o.Institution == 'MIT')) {
            print('<span class="glyphicon glyphicon-lock result-icon" title="This is a restricted layer"></span>');
        } else {
            print('<span class="glyphicon"></span>');
        }
    %>
    <%  if (o.DataType === 'Point') {
            print('<span class="kendicon kendicon-point result-icon" title="Points"></span>');
        } else if (o.DataType === 'Line') {
            print('<span class="kendicon kendicon-line result-icon" title="Lines"></span>');
        } else if (o.DataType === 'Polygon') {
            print('<span class="kendicon kendicon-polygon result-icon" title="Polygons"></span>');
        } else if (o.DataType === 'Paper Map') {
            print('<span class="kendicon kendicon-paper-map result-icon" title="Paper Map"></span>');
        } else if ((o.DataType === 'Raster') || (o.DataType === 'Scanned Map')) {
            print('<span class="glyphicon glyphicon-picture result-icon" title="')
            print(o.DataType + '"></span>');
        } else if ((o.DataType === 'CD-ROM') || (o.DataType === 'DVD-ROM')) {
            print('<span class="kendicon kendicon-disc result-icon" title="')
            print(o.DataType + '"></span>')
        } else {
            print('<span class="glyphicon"></span>');
        }
    %>
    <a href="<%= o.site_root %>/layer/<%= o.LayerId %>"><%= o.LayerDisplayName %></a>
</div>
