<ul class="pagination pagination-sm">
    <% if (typeof o.previous !== "undefined") { %>
        <li><a href="#" data-page="<%= o.previous %>">&laquo;</a></li>
    <% } %>
    <% if (typeof o.first !== "undefined") { %>
        <li><a href="#" data-page="1">1</a></li>
        <li><span class="ellided">...</span></li>
    <% } %>
    <% _.each(o.pages, function(v) { %>
            <li <% if (o.current == v) { print('class="active"') } %>>
                <a href="#" data-page="<%= v %>">
                    <%= _.formatnumber(v) %>
                </a>
            </li>
    <% }) %>
    <% if (typeof o.last !== "undefined") { %>
        <li class="inactive"><span class="ellided">...</span></li>
        <li>
            <a href="#" data-page="<%= o.last %>">
                <%= _.formatnumber(o.last) %>
            </a>
        </li>
    <% } %>
    <%  if (typeof o.next !== "undefined") { %>
            <li><a href="#" data-page="<%= o.next %>">&raquo;</a></li>
    <% } %>
</ul>