<div class="ogp-row ogp-layer" data-layerid="<%= d.LayerId %>">

    <div class="result-icon ogp-cart-remove" title="Remove from cart"></div>

    <% if (d.downloadStatus === "downloading") { %>
        <div class="result-icon ogp-waiting" title="Preparing download"></div>
    <% } else if (d.downloadStatus === "failed") { %>
        <div class="result-icon ogp-error" title="Layer failed to download"></div>
    <% } else if (d.downloadStatus === "complete") { %>
        <div class="result-icon ogp-cart-incart" title="Download complete"></div>
    <% } %>

    <%= d.partial("preview") %>

    <div class="result-icon ogp-control-zoom" title="Zoom to extent of layer"></div>

    <div class="result-content ogp-text-overflow" title="<%= d.LayerDisplayName %>">
        <%= d.LayerDisplayName %>
    </div>

</div>