<strong><%= d.display %></strong>
<% for (var i=0; i<4 && i<d.counts.length; i++) { %>
    <% var item = d.counts[i]; %>
    <div class="checkbox">
        <label>
            <input
                type="checkbox"
                value="<%= item.value %>"
                name="<%= d.name %>[]"
                <% if (_.contains(d.query, item.value)) {%>
                    checked="checked"
                <% } %>
            />
            <%= item.display %> (<%= item.count %>)
        </label>
    </div>
<% } %>
<% if (d.counts.length > 4) { %>
    <div><a href="#<%= d.name %>" data-toggle="modal">More <%= d.display %></a></div>
<% } %>