@import url('base.css');

@font-face {
    font-family: 'kendallite';
    src:url('fonts/kendallite.eot?-him64c');
    src:url('fonts/kendallite.eot?#iefix-him64c') format('embedded-opentype'),
        url('fonts/kendallite.woff?-him64c') format('woff'),
        url('fonts/kendallite.ttf?-him64c') format('truetype'),
        url('fonts/kendallite.svg?-him64c#kendallite') format('svg');
    font-weight: normal;
    font-style: normal;
}

.kendicon {
    font-family: 'kendallite';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kendicon-polygon:before {
    content: "\f104";
}
.kendicon-point:before {
    content: "\f103";
}
.kendicon-line:before {
    content: "\f101";
}
.kendicon-paper-map:before {
    content: "\f102";
}
.kendicon-disc:before {
    content: "\f100";
}

.result-icon {
    color: #7f7f7f;
}

#map {
    height: 500px;
    border: 1px solid #a8a8a8;
}

.text-result {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.7em 0;
    border-bottom: 1px solid #e8e8e8;
}

.overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.glyphicon:empty {
    width: 1em;
}

.facet {
    margin: 0;
    padding: 0;
    list-style: none;
}

.facet li:hover {
    background-color: #f0f0f0;
}

.facet a {
    padding: 0.5em;
    text-decoration: none;
    display: block;
}

.pagination>li>.ellided,
.pagination>li>.ellided:hover {
    border-top: 0;
    border-bottom: 0;
    background-color: #fff;
    color: #6a6a6a;
}

#pagination {
    text-align: center;
}

.searchbox {
    padding-bottom: 1em;
}

.map-nav {
    padding-bottom: 5px;
}
