{% extends 'base.html' %}

{% block head_content %}
    <script>
        $(function() {
            var opts = {
                div: "map",
                projection: "EPSG:900913",
                controls: [
                    new OpenLayers.Control.Navigation({documentDrag: true})
                ]
            };
            map = new OpenLayers.Map(opts);

            previewlayer = new OpenLayers.Layer.Vector("Preview Layer", {
                projection: "EPSG:4326"
            });

            box = OpenLayers.Geometry.fromWKT('{{ layer.wkt }}');
            box.transform("EPSG:4326", "EPSG:900913");

            var bounds = box.getBounds();

            previewlayer.addFeatures([new OpenLayers.Feature.Vector(box)]);

            map.addLayers([
                new OpenLayers.Layer.Google("Google Layer"),
                new OpenLayers.Layer.Google("Google Physical", {
                    type: google.maps.MapTypeId.TERRAIN
                }),
                previewlayer
            ]);

            map.zoomToExtent(bounds);
        });
    </script>
{% end %}

{% block metadata %}
    {% raw fgdc %}
{% end %}
